[Unit]
Description=Check for Rauhwpx cloud updates

[Timer]
OnBootSec=30min
OnUnitActiveSec=6h
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
